<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title">Contact Me</h1>
            <h2 class="subtitle">If you want to know more</h2>
        </div>
        <hr>
        <div class="content">
            <p class="control">
                <input class="input" type="text" placeholder="Text input">
            </p>
            <p class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </p>
            <p class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </p>
            <p class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                </label>
            </p>
            <p class="control">
                <button class="button is-primary">Submit</button>
                <button class="button">Cancel</button>
            </p>
        </div>
    </div>
</section>