<div class="columns is-gapless is-multiline">
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo4.jpg" alt="Demo4">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo5.jpg" alt="Demo5">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo6.jpg" alt="Demo6">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo7.jpg" alt="Demo7">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo8.jpg" alt="Demo8">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo9.jpg" alt="Demo9">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo3.jpg" alt="Demo3">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo4.jpg" alt="Demo4">
        </p>
    </div>
    <div class="column is-6-tablet is-4-desktop">
        <p class="image is-16by9">
            <img ng-click="enlargePhoto($event)" class="photo fadein" src="images/demo1.jpg" alt="Demo1">
        </p>
    </div>
</div>